/*Navigation bar for website*/

.nav li{
    display:inline-block;
    position: relative;
    float: right;
    z-index: 10;
}
.nav a{
    display:inline-block;
    margin:5px;
    border: none;
    font-size: 16px;
    font-family: 'Roboto','sans-serif','arial';
    font-weight: bold;
    list-style: none;
    color: black;
    text-decoration: none;
}
/*what happens when you hover over*/
.nav a:hover{
    border-bottom: 3px solid #add8e6;
}
/*display a line which corresponds to what page you are on*/
.nav .current{
    border-bottom: 3px solid #add8e6;
}
/*----------------------*/
/*Font types and what fonts they should display when element is used*/

.font-family-1{
    font-family: 'Roboto','sans-serif','arial';
    position:relative;
    text-align: center;
    font-size:50px;
    
}
.font-family-2{
    font-family: 'Roboto','sans-serif','arial';
    color: white;
    font-size:20px;
    font-weight: bold;
}
h2{
    font-family: 'Roboto','sans-serif','arial';
}
h1{
    font-family: 'Roboto','sans-serif','arial';
}
h3{
    font-family: 'Roboto','sans-serif','arial';
}
li{
    font-family: 'Roboto','sans-serif','arial';
    font-size:18px;
    font-weight: bold;
}
p{
    font-family: 'Roboto','sans-serif','arial';
    font-weight: bold;
    font-size:18px;
    
}
/*----------------------*/

.white{
    color: white;  
}
.text_center{
    text-align: center;
}
.text_center h1{
    vertical-align:top;
    display: inline-block;
    padding: 10px;
}
.underline-text{
    border-bottom: 2px solid #add8e6;
    border-bottom-width: 2px;
    display: inline;
}
/*----------------------*/
/*Makes image into a circle shape*/
.circle{
    border-radius: 200px;
    position: relative;
    bottom:100px;
}
/*Slideshow mechanics*/
.container{
    position: relative;
    text-align: center;
    color: white;
}
.slidershow{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.SlideNav{
    position: absolute;
    bottom: 20px;
    left: 48%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #add8e6;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
    position: relative;
}
.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
/*----------------------*/
/*Secret*/
.tooltip {
    position: relative;
    display: inline-block;
    
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*----------------------*/

.main-content{
    width:100%;
    height: 50%;
    display: flex;  
}
.main-content li{
    line-height: 27px;
    
}
.main-content h1{
    text-align: center;
    text-decoration: underline;
}
.main-content h2{
    text-align: center;
}
.main-content h3{
    text-align: center;
    line-height:25em;
}
.main-content li{
    font-weight: bold;
    
}
/*Where should the content display*/
.box{
    width:100%;
    display:flex;
}
.content1{
    width:45%;
    flex: 1;
    padding: 10px;
}
.content2{
    width:45%;
    flex: 1;
    padding: 10px;
}
.box-content li{
    padding: 5px;
}
.underline-text{
    border-bottom: 2px solid #add8e6;
    border-bottom-width: 2px;
    display: inline;
}
/*----------------------*/
/*Footer*/

.bottom{
    width:100%;
    height:150px;
    background-color:#DCDCDC;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
}
.img{
    position: relative;
    padding:5px;
}
.bottom h2{
    text-align: center;
}
.bottom a{
    display: inline-block;
    position: relative;
    left:43%;
    top:10px; 
}
/*----------------------*/



    
    


